<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arduino Project Manager</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <style>
        body{
            background-color: rgb(0, 255, 128);
            color: rgb(0, 0, 0);
        }
        
        #console {
            background: #1a1a1a;
            color: #fff;
            padding: 10px;
            border-radius: 5px;
            max-height: 200px;
            overflow-y: auto;
            margin-top: 20px;
        }
        #codeEditor {
            height: 400px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.51.0-dev-20240628/min/vs/loader.js"></script>
</head>
<body>
    <h1>Gerenciador de Projetos Arduino</h1>
    <div>
        <h2>Criar Novo Projeto</h2>
        <input type="text" id="projectNameInput" placeholder="Nome do Projeto">
        <button id="createProjectButton">Criar Projeto</button>
    </div>
    <div>
        <h2>Projetos Disponíveis</h2>
        <ul id="projectsList"></ul>
    </div>
    <div>
        <h2>Carregar Projeto</h2>
        <select id="loadProjectSelect"></select>
        <button id="loadProjectButton">Carregar</button>
        <button id="deleteProjectButton">Excluir</button>
    </div>
    
    <div>
        <h2>Editor de Código</h2>
        <div id="codeEditor"></div>
        <button id="saveCodeButton">Salvar Código</button>
        <button id="compileCodeButton">Compilar Código</button>
        <button id="uploadCodeButton">Enviar Código</button>
        <button id="code">Code</button>
    </div>
    <div id="console"></div>
    <script src="/static/js/app.js"></script>
</body>
</html>
